@import "tailwindcss";

:root {
  --muted: hsl(0, 0%, 30%);
  --font-jakarta-sans: Plus Jakarta Sans;
  --overlay: #141414af;
}

body {
  font-family: var(--font-jakarta-sans), Arial, Helvetica, sans-serif;
}

@theme inline {
  --font-sans: var(--font-jakarta-sans);

  --color-*: initial;

  --color-background: hsl(140, 2%, 100%);
  --color-foreground: hsla(48, 95%, 52%, 1);

  --color-yellow-light: hsl(48, 95%, 80%);
  --color-yellow: hsl(48, 95%, 60%);
  --color-yellow-dark: hsl(48, 95%, 40%);

  --color-black: #141414;
  --color-white: hsl(0, 0%, 100%);

  --color-muted: var(--muted);

  --color-gray-light: hsl(0, 0%, 90%);
  --color-gray: hsl(0, 0%, 70%);
  --color-gray-dark: hsl(0, 0%, 50%);

  --color-error-light: hsl(0, 100%, 90%);
  --color-error: hsl(0, 100%, 70%);
  --color-error-dark: hsl(0, 100%, 50%);

  --color-success-light: hsl(120, 100%, 90%);
  --color-success: hsl(120, 100%, 70%);
  --color-success-dark: hsl(120, 100%, 50%);

  --color-warning-light: hsl(40, 100%, 90%);
  --color-warning: hsl(40, 100%, 70%);
  --color-warning-dark: hsl(40, 100%, 50%);
}

@theme {
  --aspect-section-xs: 768/75;
  --aspect-section-sm: 384/75;
  --aspect-section: 192/75;
  --aspect-section-md: 256/75;
  --aspect-section-lg: 192/75;
}

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: textfield;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .bg-white,
  .bg-background,
  .bg-white *,
  .bg-background *,
  main * {
    @apply text-black;
  }

  .bg-black,
  .bg-black * {
    --muted: hsl(0, 0%, 60%);
    @apply text-white;
  }

  .bg-black a {
    @apply hover:text-gray-light;
  }

  h1 {
    @apply text-6xl font-semibold leading-tight;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply text-xl font-medium;
  }

  h6 {
    @apply text-lg font-normal;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply uppercase;
  }

  h5,
  h6 {
    @apply capitalize;
  }

  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
    overflow-x: hidden;
    color: var(--foreground);
    @apply font-sans text-sm md:text-[1rem] place-content-evenly;
  }

  footer,
  header {
    @apply flex-grow px-5 md:px-10 lg:px-20;
  }
  /* 
  .main > div {
    @apply container mx-auto flex flex-col gap-10;
  } */

  /* .main > div > * {
    @apply px-5 md:px-10 lg:px-20;
  } */

  a {
    @apply transition-colors text-muted hover:text-gray-dark;
  }

  section {
    @apply w-full;
  }
}

@layer components {
  .golden-circle {
    @apply border rounded-full aspect-square border-yellow;
  }
}

@layer utilities {
  div:has(img).image-flex {
    display: flex !important;
  }

  .body.bg-foreground,
  .body.yellow,
  .section.bg-foreground,
  .section.bg-yellow {
    background-image: url("../../public/yellow-pattern-bg.png");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .drafts-hero-bg {
    background-image: url("../../public/images/drafts-bg.png");
  }

  .diamond-pattern-bg {
    background-image: url("../../public/images/diamond-pattern.png");
  }
  .home-food-collage-for-hero-bg {
    background-image: url("../../public/images/collage-for-home-page.png");
  }
  .home-hero-bg {
    background-image: url("../../public/LANDING-PAGE-HERO.png");
  }
  .user-hero-bg {
    background-image: url("../../public/NEW-YELLOW-DECAL-WITH-MAN.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .browse-hero-bg {
    background-image: url("../../public/NEW-BROWSE-FULLHERO-W_TEXT.png");
    /* background-color: var(--overlay); */
    background-size: 110%;
    background-position: 50% 90%;
    /* background-blend-mode: multiply; */
  }
  .recipes-hero-bg {
    background-image: url("../../public/NEW-HERO-IMG-TOP-3.jpg");
    background-color: var(--overlay);
    background-size: 100%;
    background-position: 50% 75%;
    background-blend-mode: multiply;
  }
}

@layer utilities {
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  .animate-marquee {
    animation: scroll var(--speed, 30s) linear infinite;
    animation-name: scroll;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition: --speed 1s ease;
  }

  .slow-on-hover:hover {
    --speed: 60s;
  }

  @media (prefers-reduced-motion: reduce) {
    .animate-marquee {
      animation: none;
    }
  }
}

.password::-ms-clear,
.password::-ms-reveal,
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
